{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<section class="sub-hero bg-center bg-cover d-flex align-items-center"
    style="background: url({% static 'img/about_bg.png' %})">
    <div class="container">
        <h1 class="mb-1 hero-heading" >{% trans "Biz haqimizda" %}</h1>
    </div>
</section>
<section class="py-1">
    <div class="container py-5">
    <header class="mb-3 text-center">
        <h2 class="mb-0" style="color:#000">Zvukon.uz</h2>
    </header>
  
        <div class="p-3 p-md-5">
            <p class="text-muted mb-4">
                ВСЕГДА ОТЛИЧНЫЙ АССОРТИМЕНТ У НАС ПРЕДСТАВЛЕН БОЛЬШОЙ ВЫБОР МОДЕЛЬНОГО РЯДА АКУСТИЧЕСКИХ СИСТЕМ,
                МУЗЫКАЛЬНЫХ
                ЦЕНТРОВ. УСИЛИТЕЛЕЙ, НАУШНИКОВ, КОМПЬЮТЕРНОЙ ПЕРИФЕРИИ. У НАС ВЫ НАЙДЕТЕ ТЕХНИКУ ОТ МЕТРОВ ИНДУСТРИИ
                ЗВУКА
                MARSHALL, YAMAHA, BEATS, BANG & OLUFSEN, BOSE, SONY, JBL, EDIFIER, КОТОРАЯ СООТВЕТСТВУЕТ САМЫМ ВЫсоким
                СТАНДАРТАМ. 100% ОРИГИНАЛЬНАЯ ТЕХНИКА АБСОЛЮТНО ВСЯ ПРОДУКЦИЯ, КОТОРУЮ ВЫ ПОКУПАЕТЕ В НАШЕМ МАГАЗИНЕ
                «ZVUKON.UZ», ИСКЛЮЧИТЕЛЬНО ОРИГИНАЛЬНОГО КАЧЕСТВА, ПОСТАВЛЯЕТСЯ ВАМ С ГАРАНТИЕЙ НА 12 МЕС. МАКСИМАЛЬНО
                ВЫГОДНЫЕ ЦЕНЫ ВСЕ ТОВАРЫ МЫ ВОЗИМ ИЗ ЕВРОПЫ И СТРАН АЗИИ, ЧТО ПОЗВОЛИЛО НАМ ПРЕДЛОЖИТЬ ВАМ ЦЕНЫ НИЖЕ
                РЫНОЧНЫХ НА ОРИГИНАЛЬНУЮ ТЕХНИКУ ПОЧЕМУ НАМ ДОВЕРЯЮТ? МЫ ЗАНИМАЕМСЯ АКУСТИКОЙ УЖЕ БОЛЕЕ 8 ЛЕТ, ИМЕЕМ
                сотни
                полоЖИТЕЛЬНЫХ отзывов от ПОКУПАТЕЛЕЙ. МЫ С УВАЖЕНИЕМ ОТНОСИМСЯ К КАЖДОМУ НАШЕМУ ПОКУПАТЕЛЮ И ПОМОГАЕМ
                ПОДОБРАТЬ ЛУЧШЕЕ С УЧЕТОМ ПОЖЕЛАНИЙ КЛИЕНТА. МЫ ВСЕГДА НЕСЕМ ОТВЕТСТВЕННОСТЬ ЗА ВСЕ ЗАКАЗЫ И ГАРАНТИРУЕМ
                ИХ
                ВЫПОЛНЕНИЕ ТОЧНО В ОГОВОРЕННЫЕ С КЛИЕНТОМ СРОКИ. МЫ ВСЕГДА СТАРАЕМСЯ РАБОТАТЬ ТАК,
                ЧТОБЫ ПРЕВЗОЙТИ ОЖИДАНИЯ КЛИЕНТОВ: БЫСТРО РЕАГИРУЕМ НА ЗАЯВКИ И ДОСТАВЛЯЕМ ЗАКАЗЫ
            </p>
        </div>
    </div>

</section>
{% endblock content %}