{% load static %}
<section>
    <link rel="stylesheet" href="{% static 'home/css/animate.min.css '%}">
        <link href="{% static 'home/css/owl.carousel.min.css '%}" rel="stylesheet">
            <link href="{% static 'home/css/owl.theme.default.min.css '%}" rel="stylesheet">
                <link href="{% static 'home/css/style.css '%}" rel="stylesheet">
                    <link href="{% static 'home/css/responsive.css '%}" rel="stylesheet">
                        <!-- Start Main Banner Area -->
                        <div class="home-slides owl-carousel owl-theme">
                            {% for cat in cats %}
                            <div class="single-banner-item banner-bg2 jarallax" data-jarallax='{"speed": 0.3}'>
                                <div class="container-fluid">
                                    <div class="row align-items-center">
                                        <div class="col-lg-5 col-md-12">
                                            <div class="main-banner-content">
                                                <center>
                                                    <h1 class="title">
                                                        {{cat.name}}
                                                    </h1>
                                                </center>
                                                <p>
                                                    {{cat.description}}
                                                </p>
                                                {% comment %}
                                                <h6>
                                                    Available Now
                                                </h6>
                                                <div class="btn-box">
                                                    <a class="default-btn" href="index-2.html#">
                                                        Purchase Now
                                                    </a>
                                                    <a class="optional-btn" href="contact.html">
                                                        Free Trial
                                                    </a>
                                                </div>
                                                {% endcomment %}
                                            </div>
                                        </div>
                                        <div class="col-lg-7 col-md-12">
                                            <div class="main-banner-image">
                                                <img alt="image" src="{{cat.image_fon.url}}">
                                                </img>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- End Main Banner Area -->
                        
                        <script src="{% static 'home/js/jquery.min.js '%}">
                        </script>
                        
                        <script src="{% static 'home/js/owl.carousel.min.js '%}">
                        </script>
                       
                        <script src="{% static 'home/js/parallax.min.js '%}">
                        </script> 
                        <script src="{% static 'home/js/meanmenu.min.js '%}">
                        </script>
                        
                
                        <script src="{% static 'home/js/main.js '%}">
                        </script>
                    </link>
                </link>
            </link>
        </link>
    </link>
</section>