
{% extends 'base.html' %}
{% load static %}
    <!--  Modal -->
{% block content %}
    <div class="modal fade" id="productView" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content rounded-0 border-0">
          <div class="modal-body p-0 overflow-hidden shadow">
            <div class="row align-items-stretch">
              <div class="col-lg-6 p-lg-0 modal-product-img"><a class="glightbox product-view d-block h-100 bg-cover bg-center" style="background: url(img/product-5.5d8c02c5.jpg)" href="img/product-5.5d8c02c5.jpg" data-gallery="productview"></a><a class="glightbox product-view h-100 bg-cover bg-center d-none" href="img/product-5-alt-1.2317c566.jpg" data-gallery="productview"></a><a class="glightbox product-view h-100 bg-cover bg-center d-none" href="img/product-5-alt-2.500c9984.jpg" data-gallery="productview"></a></div>
              <div class="col-lg-6">
                <button class="close modal-close p-4 border-0" type="button" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">
                    <svg class="svg-icon text-white mt-1">
                      <use xlink:href="#close-1"> </use>
                    </svg></span></button>
                <div class="p-5 my-md-4">
                  <ul class="list-inline mb-2">
                    <li class="list-inline-item m-0"><i class="fas fa-star small text-warning"></i></li>
                    <li class="list-inline-item m-0"><i class="fas fa-star small text-warning"></i></li>
                    <li class="list-inline-item m-0"><i class="fas fa-star small text-warning"></i></li>
                    <li class="list-inline-item m-0"><i class="fas fa-star small text-warning"></i></li>
                    <li class="list-inline-item m-0"><i class="fas fa-star small text-warning"></i></li>
                  </ul>
                  <h2 class="h5 text-uppercase">Kui Ye Chen’s AirPods</h2>
                  <p class="text-muted">$250</p>
                  <p class="text-small mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ullamcorper leo, eget euismod orci. Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Vestibulum ultricies aliquam convallis.</p>
                  <ul class="list-inline mb-4">
                    <li class="list-inline-item me-3"><strong>Quantity</strong></li>
                    <li class="list-inline-item">
                      <div class="border d-flex align-items-center justify-content-between p-1">
                        <div class="quantity py-0">
                          <button class="dec-btn p-0" onclick="decrease(this)"><i class="fas fa-caret-left"></i></button>
                          <input class="form-control border-0 shadow-0 p-0 quantity-result" type="text" value="1">
                          <button class="inc-btn p-0" onclick="increase(this)"><i class="fas fa-caret-right"></i></button>
                        </div>
                      </div>
                    </li>
                    <li class="list-inline-item"><a class="btn btn-dark" href="cart.html"> 
                        <svg class="svg-icon text-white me-2 svg-icon-md me-2 pe-1">
                          <use xlink:href="#shopping-bag-1"> </use>
                        </svg>Add to cart</a></li>
                  </ul><a class="p-0 reset-anchor" href="detail.html#"><i class="far fa-heart me-2"></i>Add to wish list</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Breadcrumb-->
    <div class="bg-light py-2">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0 bg-light">
            <li class="breadcrumb-item"><a class="reset-anchor" href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{object.name}}</li>
          </ol>
        </nav>
      </div>
    </div>
    <section class="py-5">
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="row">
              <div class="col-md-2 order-2 order-md-1">
                <!-- Slider thumbnails-->
                <div class="swiper-container swiper-thumbnails" id="detailSliderThumb">   
                  <div class="swiper-wrapper">
                     {% for img in object.medium_images %}
                     {% if img %}
                        <div class="swiper-slide"><img class="img-fluid" src="{{img}}" alt=".."></div> 
                      {% else %}
                      <div ><img class="img-fluid" src="{% static 'img/white.png' %}"></div> 
                     {% endif %}
                    {% endfor %}  
                  </div>
                </div>
              </div>
              <div class="col-md-10 order-1 order-md-2 mb-4 mb-lg-0">
                <!-- Item slider-->
                <div class="swiper-container" id="detailSlider">   
                  <div class="swiper-wrapper">
                    {% for img in object.medium_images  %}
                    {% if img %}
                    <div class="swiper-slide">
                      <a class="glightbox" href={{img}}>
                        <img class="img-fluid" src={{img}} alt=".."></a></div>
                    {% else %}
                    <div class="swiper-slide">
                      <p class="glightbox">
                        <img class="img-fluid">
                      </p></div>
                    {% endif %}
                    
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Item info-->
          <div class="col-lg-6">
            <div class="badge bg-info small rounded-0 mb-2">Trending</div>
            <h1>{{object.name}}</h1>
            <div class="d-flex align-items-center">
            </div>
            <p class="h4">{{object.price}}</p>
            <p class="text-small mb-4"></p>
            {% comment %} <div class="d-flex flex-wrap align-items-center mb-4">
              <p class="mb-0 me-3">Select color:</p>
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  <input class="btn-check" id="color1" type="radio" name="colorVariants" checked>
                  <label class="btn p-0 m-0" for="color1"><i class="fas fa-circle text-warning"></i></label>
                </li>
                <li class="list-inline-item">
                  <input class="btn-check" id="color2" type="radio" name="colorVariants">
                  <label class="btn p-0 m-0" for="color2"><i class="fas fa-circle text-danger"></i></label>
                </li>
                <li class="list-inline-item">
                  <input class="btn-check" id="color3" type="radio" name="colorVariants">
                  <label class="btn p-0 m-0" for="color3"><i class="fas fa-circle text-info"></i></label>
                </li>
                <li class="list-inline-item">
                  <input class="btn-check" id="color4" type="radio" name="colorVariants">
                  <label class="btn p-0 m-0" for="color4"><i class="fas fa-circle text-success"></i></label>
                </li>
              </ul>
            </div> {% endcomment %}
            {% comment %} <div class="d-flex align-items-center mb-4">
              <div class="border d-flex align-items-center justify-content-between p-1 me-2">
                <div class="quantity py-0">
                  <button class="dec-btn p-0" onclick="decrease(this)"><i class="fas fa-caret-left"></i></button>
                  <input class="form-control border-0 shadow-0 p-0 quantity-result" type="text" value="1">
                  <button class="inc-btn p-0" onclick="increase(this)"><i class="fas fa-caret-right"></i></button>
                </div>
              </div>
              <a class="btn btn-primary btn-sm py-2 border-bottom-0 px-5 me-3" href="cart.html"> 
                <i class="fas fa-shopping-bag py-1 me-2">

                </i>Add to cart</a>
                <a class="p-0 reset-anchor d-inline-block mx-2" href="detail.html#">
                  <i class="fas fa-heart"></i></a><a class="p-0 reset-anchor d-inline-block mx-2" href="detail.html#">
                    <i class="fas fa-share-alt"></i></a>
            </div><br> {% endcomment %}


            <ul class="list-unstyled small d-inline-block">
              <li class="px-3 py-2 mb-1 bg-light text-muted"><strong class="text-uppercase text-dark">Category:</strong><a class="reset-anchor ms-2">{{object.category.name}}</a></li>
              {% if phone %}
              <li class="px-3 py-2 mb-1 bg-light text-muted"><strong class="text-uppercase text-dark">Telefon:</strong><a class="reset-anchor ms-2">{{phone}}</a></li>
              {% endif %}
              {%if telegram %}
              <li class="px-3 py-2 mb-1 bg-light text-muted"><strong class="text-uppercase text-dark">Telegram:</strong><a class="reset-anchor ms-2">{{telegram}}</a></li>
              {% endif %}
              {% if instagram %}
              <li class="px-3 py-2 mb-1 bg-light text-muted"><strong class="text-uppercase text-dark">Instagram:</strong><a class="reset-anchor ms-2">{{instagram}}</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </section>


    <section class="pb-5">
      <div class="container">
        <div class="row">
          <!-- Item information-->
          <div class="col-xl-10 mx-auto">
            <ul class="nav nav-tabs tabs-fill justify-content-center border-0 flex-column flex-md-row" id="myTab" role="tablist">
              <li class="nav-item flex-fill text-center bg-light mx-2" role="presentation"><a class="nav-link text-small fw-bold py-3 border-0 active" id="description-tab" data-bs-toggle="tab"  role="tab" aria-controls="description" aria-selected="true">Description</a></li>
              <li class="nav-item flex-fill text-center bg-light mx-2" role="presentation">
                <a aria-controls="info" aria-selected="false" class="nav-link text-small fw-bold py-3 border-0" data-bs-toggle="tab" href="detail.html#info" id="info-tab" role="tab">
                    Additional info
                </a>
            </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                <div class="p-3 p-md-5">
                  <p class="text-muted mb-4">
                    {{object.description}}
                  </p>
                  
                 </div>
              </div>
              <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">
                <div class="p-3 p-md-5">
                  <p class="text-muted mb-4">
                    {{object.characteristic}}
                  </p>
                  
                 </div>
              </div>
            </div>

            
          </div>
        </div>
      </div>
    </section>


    <!-- Similar items-->
    <section class="pb-5">
      <div class="container pb-5">
        <div class="row">
          <div class="col-xl-10 mx-auto">
            <header class="text-center mb-5">
              <h2>You may also like</h2>
              <p class="text-muted">Related products</p>
            </header>
            <div class="swiper-container" id="similarItemsSlider">
              <div class="swiper-wrapper">
                <!-- Product-->
                {% for product in popular_products %}
                <div class="swiper-slide pb-5">
                  <div class="product mb-4"><span class="badge rounded-0 bg-danger">Soldout</span><a href="{% url 'productDetail' product.pk %}"><img
                        class="img-fluid" src={{ product.small_image }} alt="Black Canon EOS camera"></a>
                  </div>
                  <h6 class="text-center"><a class="reset-anchor" href="{% url 'productDetail' product.pk %}">{{ product.name }}</a></h6>
                  <p class="text-center text-muted font-weight-bold">{{ product.price }}</p>
                </div>
                {% endfor %}
              </div>
              <div class="swiper-button-prev px-3 py-2">
                <svg class="svg-icon svg-icon-md">
                  <use xlink:href="#arrow-left-1"> </use>
                </svg>Prev
              </div>
              <div class="swiper-button-next px-3 py-2">
                           Next
                <svg class="svg-icon svg-icon-md">
                  <use xlink:href="#arrow-right-1"> </use>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
   {% endblock content %}