{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<style>
  .min-50 {
    width: calc(100% - 50%);
    position: absolute;
    left: 0;
  }

  .carousel-caption {
    bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
</style>

<section class="py-0">
  <!-- slide-show start -->
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      {% for cat in cats %}
      {% if forloop.counter == 1 %}
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      {% else %}
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{forloop.counter | add:"-1" }}" aria-label="Slide {{forloop.counter}}"></button>
      {% endif %}
      {% endfor %}

    </div>
    <div class="carousel-inner">
      {% for cat in cats %}
      {% if forloop.counter == 1 %}
      <div class="carousel-item active">


        {% else %}
        <div class="carousel-item ">
          {% endif %}
          <div class="container-sm">

            <div class="slide-images">
              <img src="{{cat.image.url}}" alt="">
            </div>

            <div class="slide-comments">
              <span class="slide__product-date"></span>
              <h1 class="slide__product-name">{{cat.name}}</h1>
              <p class="slide__product-comment">{{cat.description}}</p>
              <a class="slide__product-shop" href="{% url 'categoryDetail' cat.pk %}"">
                <i class="fas fa-shopping-bag me-2"></i>
                <span>{% trans "Ko'rish"  %}</span>
              </a>
            </div>

          </div>
        </div>
        {% endfor %}

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- slide-show end -->
</section>

<!-- New arrivals-->
<section class="py-5">
  <div class="container py-5">
    <header class="mb-3 text-center">
      <h2 class="mb-0">{% trans "Yangi mahsulotlar" %}</h2>
      <p class="text-muted">{% trans "Eng yangi mahsulotlarni ko'ring" %}</p>
    </header>
    <div class="swiper-container swiper pt-5" id="newArrivals">
      <div class="swiper-wrapper">
        {% for product in new_products %}
        <div class="swiper-slide pb-5">
          <div class="product mb-4">
            <span class="badge rounded-0 bg-primary">{% trans "Yangi" %}</span>
            <a style="display: block; padding: 20px 10px; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"
              href="{% url 'productDetail' product.pk %}"><img class="img-fluid" style="width: 100%; height: 100%;"
                src={{ product.small_image}} alt="Round grey hanging decor"></a>
          </div>
          <h6 class="text-center"><a class="reset-anchor"
              href="{% url 'productDetail' product.pk %}">{{product.name}}</a></h6>
          <p class="text-center text-muted font-weight-bold">{{product.price}}</p>
        </div>
        {% endfor %}


      </div>
      <div class="swiper-button-prev px-3 py-2">
        <svg class="svg-icon svg-icon-md">
          <use xlink:href="#arrow-left-1"> </use>
        </svg>{% trans "Oldingi" %}
      </div>
      <div class="swiper-button-next px-3 py-2">
        {% trans "Keyingi" %}
        <svg class="svg-icon svg-icon-md">
          <use xlink:href="#arrow-right-1"> </use>
        </svg>
      </div>
    </div>
  </div>
</section>
<!-- Divider section-->
<video class="img-fluid" autoplay loop muted playsinline>
  <source src="\images\videos\Replay_2023-02-09_00-02-08.mp4" type="video/mp4">
</video>
<!-- Featured products-->
<section class="py-5">
  <div class="container py-5">
    <header class="mb-3 text-center">
      <h2 class="mb-0">{% trans "Tanlangan mahsulotlar" %}</h2>
      <p class="text-muted">{% trans "Eng yangi mahsulotlarni ko'rib chiqing" %}</p>
    </header>
    <div class="swiper-container pt-5" id="featuredProducts">
      <div class="swiper-wrapper">
        <!-- Product-->
        {% for product in popular_products %}
        <div class="swiper-slide pb-5">
          <div class="product mb-4">
            <span class="badge rounded-0 bg-danger">{% trans "Sotildi" %}</span>
            <a style="display: block; padding: 20px 10px; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"
              href="{% url 'productDetail' product.pk %}">
              <img class="img-fluid" src={{ product.small_image }} alt="Black Canon EOS camera">
            </a>
          </div>
          <h6 class="text-center"><a class="reset-anchor" href="{% url 'productDetail' product.pk %}">{{
              product.name}}</a></h6>
          <p class="text-center text-muted font-weight-bold">{{ product.price }}</p>
        </div>
        {% endfor %}

        <!-- Product-->
      </div>
      <div class="swiper-button-prev px-3 py-2">
        <svg class="svg-icon svg-icon-md">
          <use xlink:href="#arrow-left-1"> </use>
        </svg>{% trans "Oldingi" %}
      </div>
      <div class="swiper-button-next px-3 py-2">
        {% trans "Keyingi" %}
        <svg class="svg-icon svg-icon-md">
          <use xlink:href="#arrow-right-1"> </use>
        </svg>
      </div>
    </div>
  </div>
</section>
{% endblock content %}