{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<style>
  .min-50 {
    width: calc(100% - 50%);
    position: absolute;
    left: 0;
  }

  .carousel-caption {
    bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
</style>

<section class="py-0">
  <div>
    <link data-n-g="" href="{% static '/css/3232e1c8682d1deda5eb.css' %}" rel="stylesheet" /> 
    <li data-n-p="" href="{% static '/css/e0cbcc994aff5a3f2d41.css' %}" rel="stylesheet" /> 
   <link data-n-p="" href="{% static '/css/43bd5f298de888b61449.css' %}" rel="stylesheet" />
    <div class="main_container" id="macbro_container">
      <div class="hero_hero__3LLIW">
        <div class="carousel slide" data-ride="carousel" id="myCarousel">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
            <li data-target="#myCarousel" data-slide-to="6"></li>
            <li data-target="#myCarousel" data-slide-to="7"></li>
            
          </ol>
          <div class="carousel-inner">
            <div class="active carousel-item">
              <div class="MuiContainer-root MuiContainer-maxWidthLg">
                <div class="hero_wrapper__341Uj carousel-caption">
                  <span class="hero_new___7fIt">
                    Новый
                  </span>
                  <h2 class="hero_title__1gaw4">
                    iPad Pro 12.9 M2
                  </h2>
                  <p>
                  </p>
                  <p class="hero_content__2Uq1X">
                  <h1 class="headline__text inline-placeholder" data-editable="headlineText" id="maincontent">
                    <span style="font-size: 18pt;">
                      <strong>
                        Самый быстрый планшет в истории.
                      </strong>
                    </span>
                  </h1>
                  </p>
                  <a class="hero_callToAction__3U_6T" href="product/ipad-pro-12.9-inch-(m22022).html" target="">
                    Купить
                  </a>
                </div>
                <div class="hero_background__1lwnf">
                  <video autoplay="" height="100%" loop="" muted="" playsinline="" width="100%">
                    <source src="\images\videos\bg3.mp4" type="video/mp4">
                    </source>
                    <source src="\images\videos\bg3.mp4" type="video/webm">
                    </source>
                  </video>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="MuiContainer-root MuiContainer-maxWidthLg">
                <div class="hero_wrapper__341Uj carousel-caption">
                  <span class="hero_new___7fIt">
                    Новый
                  </span>
                  <h2 class="hero_title__1gaw4">
                    Apple Watch Ultra
                  </h2>
                  <p>
                  </p>
                  <p class="hero_content__2Uq1X">
                  <p>
                    <span style="font-size: 18pt;">
                      <strong>
                        Лучшие часы Apple.
                      </strong>
                    </span>
                  </p>
                  </p>
                  <a class="hero_callToAction__3U_6T" href="product/apple-watch-ultra.html" target="">
                    Купить
                  </a>
                </div>
                <div class="hero_background__1lwnf">
                  <video autoplay="" height="100%" loop="" muted="" playsinline="" width="100%">
                    <source src="\images\videos\bg.mp4" type="video/mp4">
                    </source>
                    <source src="\images\videos\bg.mp4" type="video/webm">
                    </source>
                  </video>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="MuiContainer-root MuiContainer-maxWidthLg">
                <div class="hero_wrapper__341Uj carousel-caption">
                  <span class="hero_new___7fIt">
                    Новый
                  </span>
                  <h2 class="hero_title__1gaw4">
                    iPhone 14 Pro
                  </h2>
                  <p>
                  </p>
                  <p class="hero_content__2Uq1X">
                  <p>
                    <span style="font-size: 18pt;">
                      <strong>
                        Расширяя границы.
                      </strong>
                    </span>
                  </p>
                  </p>
                  <a class="hero_callToAction__3U_6T" href="shop/iphone.html" target="">
                    Купить
                  </a>
                </div>
                <div class="hero_background__1lwnf">
                  <video autoplay="" height="100%" loop="" muted="" playsinline="" width="100%">
                    <source src="https://cdn.macbro.uz/macbro/bee39e41-3e48-43ae-a16a-f3a4ed4f61ed" type="video/mp4">
                    </source>
                    <source src="https://cdn.macbro.uz/macbro/bee39e41-3e48-43ae-a16a-f3a4ed4f61ed" type="video/webm">
                    </source>
                  </video>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="MuiContainer-root MuiContainer-maxWidthLg">
                <div class="hero_wrapper__341Uj carousel-caption">
                  <span class="hero_new___7fIt">
                    Новый
                  </span>
                  <h2 class="hero_title__1gaw4">
                    Studio Display
                  </h2>
                  <p>
                  </p>
                  <p class="hero_content__2Uq1X">
                  <p>
                    <span style="font-size: 18pt;">
                      <strong>
                        Это гораздо больше, чем просто дисплей.
                      </strong>
                    </span>
                  </p>
                  </p>
                  <a class="hero_callToAction__3U_6T" href="product/apple-studio-display.html" target="">
                    Купить
                  </a>
                </div>
                <div class="hero_background__1lwnf">
                  <video autoplay="" height="100%" loop="" muted="" playsinline="" width="100%">
                    <source src="https://cdn.macbro.uz/macbro/77404462-650f-4cbf-b518-eb6191e4d164" type="video/mp4">
                    </source>
                    <source src="https://cdn.macbro.uz/macbro/77404462-650f-4cbf-b518-eb6191e4d164" type="video/webm">
                    </source>
                  </video>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="MuiContainer-root MuiContainer-maxWidthLg">
                <div class="hero_wrapper__341Uj carousel-caption">
                  <span class="hero_new___7fIt">
                    Новый
                  </span>
                  <h2 class="hero_title__1gaw4">
                    AirPods Pro 2
                  </h2>
                  <p>
                  </p>
                  <p class="hero_content__2Uq1X">
                  <h2>
                    <span>
                      <span class="goog-text-highlight">
                        <span style="font-size: 18pt;">
                          <strong>
                            Впечатляющее обновление.
                          </strong>
                        </span>
                      </span>
                    </span>
                  </h2>
                  </p>
                  <a class="hero_callToAction__3U_6T" href="product/airpods-pro-2-cc4ql7ybjji7.html" target="">
                    Купить
                  </a>
                </div>
                <div class="hero_background__1lwnf">
                  <video autoplay="" height="100%" loop="" muted="" playsinline="" width="100%">
                    <source src="https://cdn.macbro.uz/macbro/e2fcb36a-d08c-4331-a812-bfe3fc23af22" type="video/mp4">
                    </source>
                    <source src="https://cdn.macbro.uz/macbro/e2fcb36a-d08c-4331-a812-bfe3fc23af22" type="video/webm">
                    </source>
                  </video>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="MuiContainer-root MuiContainer-maxWidthLg">
                <div class="hero_wrapper__341Uj carousel-caption">
                  <span class="hero_new___7fIt">
                    Новый
                  </span>
                  <h2 class="hero_title__1gaw4">
                    Закажите доставку до двери
                  </h2>
                  <p>
                  </p>
                  <p class="hero_content__2Uq1X">
                  </p>
                </div>
                <div class="hero_background__1lwnf">
                  <img alt="Закажите доставку до двери" loading="lazy"
                    src="https://cdn.macbro.uz/macbro/ad406fba-3ee2-4c28-91ba-945730393ffc" />
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="MuiContainer-root MuiContainer-maxWidthLg">
                <div class="hero_wrapper__341Uj carousel-caption">
                  <span class="hero_new___7fIt">
                    Новый
                  </span>
                  <h2 class="hero_title__1gaw4">
                    MacBook Air 13 M2
                  </h2>
                  <p>
                  </p>
                  <p class="hero_content__2Uq1X">
                  <p>
                    <span style="font-size: 18pt;">
                      <strong>
                        Совершенно новый Air.
                      </strong>
                    </span>
                  </p>
                  </p>
                  <a class="hero_callToAction__3U_6T" href="product/macbook-air-13-(m2-2022).html" target="">
                    Купить
                  </a>
                </div>
                <div class="hero_background__1lwnf">
                  <video autoplay="" height="100%" loop="" muted="" playsinline="" width="100%">
                    <source src="https://cdn.macbro.uz/macbro/bf46383f-af99-48e4-b9b4-699761faf67c" type="video/mp4">
                    </source>
                    <source src="https://cdn.macbro.uz/macbro/bf46383f-af99-48e4-b9b4-699761faf67c" type="video/webm">
                    </source>
                  </video>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="MuiContainer-root MuiContainer-maxWidthLg">
                <div class="hero_wrapper__341Uj carousel-caption">
                  <span class="hero_new___7fIt">
                    Новый
                  </span>
                  <h2 class="hero_title__1gaw4">
                    AirPods Max
                  </h2>
                  <p>
                  </p>
                  <p class="hero_content__2Uq1X">
                  <p>
                    <span style="font-size: 18pt;">
                      <strong>
                        Звук в блестящем исполнении.
                      </strong>
                    </span>
                  </p>
                  </p>
                  <a class="hero_callToAction__3U_6T" href="product/airpods-max.html" target="">
                    Купить
                  </a>
                </div>
                <div class="hero_background__1lwnf">
                  <video autoplay="" height="100%" loop="" muted="" playsinline="" width="100%">
                    <source src="https://cdn.macbro.uz/macbro/e8ffc544-1c1b-4b25-832f-01b81de6a5e6" type="video/mp4">
                    </source>
                    <source src="https://cdn.macbro.uz/macbro/e8ffc544-1c1b-4b25-832f-01b81de6a5e6" type="video/webm">
                    </source>
                  </video>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- New arrivals-->
<section class="py-5">
  <div class="container py-5">
    <header class="mb-3 text-center">
      <h2 class="mb-0">{% trans "Yangi mahsulotlar" %}</h2>
      <p class="text-muted">{% trans "Eng yangi mahsulotlarni ko'ring" %}</p>
    </header>
    <div class="swiper-container swiper pt-5" id="newArrivals">
      <div class="swiper-wrapper">
        {% for product in new_products %}
        <div class="swiper-slide pb-5">
          <div class="product mb-4">
            <span class="badge rounded-0 bg-primary">{% trans "Yangi" %}</span>
            <a style="display: block; padding: 20px 10px; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"
              href="{% url 'productDetail' product.pk %}"><img class="img-fluid" style="width: 100%; height: 100%;"
                src={{ product.small_image}} alt="Round grey hanging decor"></a>
          </div>
          <h6 class="text-center"><a class="reset-anchor"
              href="{% url 'productDetail' product.pk %}">{{product.name}}</a></h6>
          <p class="text-center text-muted font-weight-bold">{{product.price}}</p>
        </div>
        {% endfor %}


      </div>
      <div class="swiper-button-prev px-3 py-2">
        <svg class="svg-icon svg-icon-md">
          <use xlink:href="#arrow-left-1"> </use>
        </svg>{% trans "Oldingi" %}
      </div>
      <div class="swiper-button-next px-3 py-2">
        {% trans "Keyingi" %}
        <svg class="svg-icon svg-icon-md">
          <use xlink:href="#arrow-right-1"> </use>
        </svg>
      </div>
    </div>
  </div>
</section>
<!-- Divider section-->
{% for cat in cats %}
<section class="py-5">
  <div class="container py-5">
    <header class="mb-3 text-center">
      <h2 class="mb-0">{{cat.name}}</h2>
      {% comment %} <p class="text-muted">{{cat.description}}</p> {% endcomment %}
    </header>
    <div class="row">
      {% for subcat in cat.subcats %}
      <!-- Product-->
      <div class="col-xl-3 col-lg-4 col-6">
        <div class="product mb-4"><a href="{% url 'subcategoryDetail' subcat.pk %}"><img class="img-fluid"
              src="{{subcat.image_fon.url}}" alt="Round grey hanging decor"></a>
        </div>
        <h6 class="text-center"><a class="reset-anchor"
            href="{% url 'subcategoryDetail' subcat.pk %}">{{subcat.name}}</a></h6>
      </div>
      {% endfor %}

    </div>
  </div>
  <div class="py-5 bg-center bg-cover" style="background: url({% static 'img/banner.jpg' %})">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-6 ms-auto">
          <h2 class="hero-heading">{{cat.name}}</h2>
          <p class="text-muted">{{cat.description}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endfor %}


<!-- Featured products-->
<section class="py-5">
  <div class="container py-5">
    <header class="mb-3 text-center">
      <h2 class="mb-0">{% trans "Tanlangan mahsulotlar" %}</h2>
      <p class="text-muted">{% trans "Eng yangi mahsulotlarni ko'rib chiqing" %}</p>
    </header>
    <div class="swiper-container pt-5" id="featuredProducts">
      <div class="swiper-wrapper">
        <!-- Product-->
        {% for product in popular_products %}
        <div class="swiper-slide pb-5">
          <div class="product mb-4">
            <span class="badge rounded-0 bg-danger">{% trans "Sotildi" %}</span>
            <a style="display: block; padding: 20px 10px; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"
              href="{% url 'productDetail' product.pk %}">
              <img class="img-fluid" src={{ product.small_image }} alt="Black Canon EOS camera">
            </a>
          </div>
          <h6 class="text-center"><a class="reset-anchor"
              href="{% url 'productDetail' product.pk %}">{{product.name}}</a></h6>
          <p class="text-center text-muted font-weight-bold">{{ product.price }}</p>
        </div>
        {% endfor %}

        <!-- Product-->
      </div>
      <div class="swiper-button-prev px-3 py-2">
        <svg class="svg-icon svg-icon-md">
          <use xlink:href="#arrow-left-1"> </use>
        </svg>{% trans "Oldingi" %}
      </div>
      <div class="swiper-button-next px-3 py-2">
        {% trans "Keyingi" %}
        <svg class="svg-icon svg-icon-md">
          <use xlink:href="#arrow-right-1"> </use>
        </svg>
      </div>
    </div>
  </div>
</section>


{% endblock content %}